# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.CodeMonkey.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\repos\Unity\tests\CodeMonkey\.idea\.idea.CodeMonkey\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
