# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.ui-engine.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\repos\Unity\ui-engine\.idea\.idea.ui-engine\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
